.App {
    text-align: left;
    padding: 20px;
    margin: 0px auto;
    width: 100%;
    max-width: 400px;
}

.menu-header {
    padding: 20px;
    text-align: center;
    // display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 20px 0;
}

// Items
.items {
    margin-bottom: 20px;
    // font-size: 20px;
    .item {
        margin-bottom: 10px;
        .upper {
            display: flex;
            justify-content: space-between;
        }
        .description {
            opacity: 0.5;
            font-size: 15px;
        }
    }
    .toggle-btn {
        margin: 0px;
        padding: 0px;
    }
}



// ICONS
.icons {
    display: flex;
    .icon {
        height: 20px;
        margin-right: 5px;
        width: 20px;
    
        img {
            width: 100%;
            height: auto;
        }
    }
}

//Station
.station {
    p {
        font-size: 20px;
    }
}
